<div class="container">
  <div>
    <h2>Ajouter un Departement :</h2>
  </div>

  <form>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>ID Departement</label>
      <input type="number" [(ngModel)]="newDepartement.idDepartement" name="idDepartement" class="form-control">
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Nom Departement</label>
      <input type="text" [(ngModel)]="newDepartement.nomDepartement" name="nomDepartement" class="form-control">
    </div>

    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Decription Departement</label>
      <input type="text" [(ngModel)]="newDepartement.description" name="description" class="form-control">
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Faculte</label>
      <select class="form-control form-control-lg" id="id" name="id" [(ngModel)]="newId">
        <option *ngFor="let fac of facultes" [value]="fac.id">
          {{fac.nom}}
        </option>
      </select>
    </div>


    <div class="mt-2">
      <button type="submit" (click)="addDepartement()" class="btn btn-success">Ajouter</button>
      <!-- <div> 
        <h3>{{ message }}</h3>
      </div> -->

    </div>
  </form>
</div>